{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderMate</title>
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="container">
            <a href="{% url 'core:index' %}" style="color:black"><h2 class="logo">
                WanderMate
            </h2></a>
            <form action = "/search" method = "post" >
                {% csrf_token %}
                <div class="search-container" style="display: flex; align-items: center;">
                    <input type="text" name="search_username" class="search-input" placeholder="Search...here"  style="padding: 8px; border: 1px solid #ccc; border-radius: 40px; margin-right: 5px; width: 200px;">
                    <button type="submit" class="search-button" style="padding: 8px 15px; border: 1px solid #ccc; border-radius: 40px; background-color: #f0f0f0; cursor: pointer;" onclick="buttonClick(this)"><i class="fas fa-search"></i></button>  
                </div>
            </form>           
            <div class="create">
                <label class="btn btn-primary" for="create-post"><a href="{% url 'core:logout' %}" style="text-decoration: none; color:aliceblue ">logout</a></label>
                {% block dp %}
    
                {% endblock %}
    
            </div>
        </div>
    </nav>
    <!-- end of Navbar -->
    {% block content %}

    {% endblock %}

    <script>
        function buttonClick(button) {
            button.style.backgroundColor = '#666'; // Change background color on click
            setTimeout(function() {
                button.style.backgroundColor = '#f0f0f0'; // Restore original background color after 1 second
            }, 100);
        }
        function toggleDropdown() {
            var dropdown = document.getElementById("myDropdown");
            dropdown.classList.toggle("show");
        }
    
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.search-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        </script>
<script src="{% static 'js/index.js' %}"></script>
</body>

</html>