{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderMate</title>
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="container">
            <a href="{% url 'core:index' %}" style="color:black"><h2 class="logo">
                WanderMate
            </h2></a>
            {% block search %}

            {% endblock %}
            
            
            <div class="create">
                <label class="btn btn-primary" for="create-post"><a href="{% url 'core:logout' %}" style="text-decoration: none; color:aliceblue ">logout</a></label>
                {% block dp %}

                {% endblock %}

            </div>
        </div>
    </nav>
    <!-- end of Navbar -->
    {% block content %}

    {% endblock %}


<script src="{% static 'js/index.js' %}"></script>
</body>

</html>