<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Categories Form</title>
</head>
<body>
    <h1>Travel Categories Form</h1>
    <form action="/submit_categories" method="post">
        <fieldset>
            <legend>Select your travel categories:</legend>

            <label for="mountains">
                <input type="checkbox" id="mountains" name="categories" value="Mountains">
                Mountains
            </label><br>

            <label for="hiking">
                <input type="checkbox" id="hiking" name="categories" value="Hiking">
                Hiking
            </label><br>

            <label for="beaches">
                <input type="checkbox" id="beaches" name="categories" value="Beaches">
                Beaches
            </label><br>

            <label for="trekking">
                <input type="checkbox" id="trekking" name="categories" value="Trekking">
                Trekking
            </label><br>

            <label for="religious">
                <input type="checkbox" id="religious" name="categories" value="Religious Places">
                Religious Places
            </label><br>

            <label for="historical">
                <input type="checkbox" id="historical" name="categories" value="Historical Sites">
                Historical Sites
            </label><br>

            <label for="city">
                <input type="checkbox" id="city" name="categories" value="City Tours">
                City Tours
            </label><br>

            <label for="deserts">
                <input type="checkbox" id="deserts" name="categories" value="Deserts">
                Deserts
            </label><br>

            <label for="islands">
                <input type="checkbox" id="islands" name="categories" value="Islands">
                Islands
            </label><br>

            <label for="forests">
                <input type="checkbox" id="forests" name="categories" value="Forests">
                Forests
            </label><br>

        </fieldset>

        <button type="submit">Submit Categories</button>
    </form>
</body>
</html>
