{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="chat-body">
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chats</h1>
        </div>
        <ul class="chat-list">

            {% for follower in followers_list %}
            <li class="chat-item" href = "#">
                <a href = "{% url 'core:user_chat_room' follower.follower user.username %}" style = "text-decoration:none">
                {% comment %} <img src="profile1.jpg" alt="Profile Image" class="dp"> {% endcomment %}
                <div class="chat-info">
                    <div class="sender">{{follower.follower}}</div> 
                    <p>{{follower.follower.user.username}}</p>
                    <div class="last-message">Chat with {{follower.follower}}</div>
                </div>
                </a>
            </li>
            {% endfor %}
            
            <!-- Add more chat items as needed -->
        </ul>
    </div>
</div>
{% endblock %}
