{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="create-post-form-container">
    <h2>New Post</h2>
    <form class = "create-post-form" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class = "create-post-label" for="image">Upload Image(s):</label>
        <input type="file" id="image" name="image" accept="image/*" multiple onchange="previewImages(event)">
        <div class="image-preview" id="imagePreview"></div>
        
        <label class = "create-post-label" for="caption">Caption:</label>
        <input class = "create-post-input-type-text" type="text" id="caption" name="caption" placeholder="Enter caption...">
        
        <label class = "create-post-label" for="hashtag">Hashtag:</label>
        <input class = "create-post-input-type-text" type="text" id="hashtag" name="hashtag" placeholder="Enter hashtag...">
        
        <label class = "create-post-label" for="category">Category:</label>
        <select class="create-post-select" id="category" name="category">
            <option value="" disabled selected>--Choose from below--</option>
            <option value="option1">Beaches</option>
            <option value="option2">Mountains</option>
            <option value="option3">Meseums</option>
        </select>
        <button type="submit">Post</button>
    </form>



</div>
    
    <script>
        function previewImages(event) {
            var imagePreview = document.getElementById('imagePreview');

            var files = event.target.files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/;

                if (!file.type.match(imageType)) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function(currentFile) {
                    return function(e) {
                        var imageCard = document.createElement('div');
                        imageCard.classList.add('image-card');

                        var img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = currentFile.name;

                        var removeBtn = document.createElement('button');
                        removeBtn.classList.add('remove-image');
                        removeBtn.innerHTML = '&times;';
                        removeBtn.onclick = function() {
                            imagePreview.removeChild(imageCard);
                        };

                        imageCard.appendChild(img);
                        imageCard.appendChild(removeBtn);
                        imagePreview.appendChild(imageCard);
                    };
                })(file);

                reader.readAsDataURL(file);
            }
        }
    </script>
    {% endblock %}
