{% extends "base.html" %}
{% load static %} 

{% block dp %}
<div class="dp">
    <a href="/profile/{{user.username}}">
        {% if user_profile.profile_img %}
        <img src="{{user_profile.profile_img.url}}" alt="">
        {% else %}
        <img src="{% static 'image/defaultProfileImg.jpeg' %}" alt="">
        {% endif %}
    </a>
 </div>
 {% endblock %}



{% block content %}
    <main>
        <div class="container">

            <!--*****************LEFT*****************-->
            
            <div class="left">
                <a class="profile">
                <div class="dp">
                    {% if user_profile.profile_img %}
                    <img src="{{user_profile.profile_img.url}}" alt="">
                    {% else %}
                    <img src="{% static 'image/defaultProfileImg.jpeg' %}" alt="">
                    {% endif %}
                </div>
                <div class="handle">
                    {% if user.is_authenticated %}
                    <h4>{{user.username}}</h4>
                    {% endif %}
                    <!-- <p class="text-muted"> @rsjain
                    </p> -->
                </div>
                <!--SIDEBAR-->
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-compass"></i></span><h3>Explore</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">3+</small></i></span><h3>Notification</h3>
                        <!----------------NOTIFICATION POPUP---------------------------->
                        <div class="notifications-popup">
                            <div>
                                <div class="dp">
                                    <img src="dp3.jpeg" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Nishmitha M</b> send you a message   
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="dp">
                                    <img src="dp4.png" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Pramada S H</b> waved at you
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="dp">
                                    <img src="dp5.jpeg" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Nakul U D </b>accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="menu-item" id="messages-notification">
                        <span><i class="uil uil-envelope"><small class="notification-count">6</small></i></span><h3>Messages</h3>
                    </a>
                    <a class="menu-item" id="messages-notification">
                        <span><i class="uil uil-palette"></i></span><h3>Theme</h3>
                    </a>
                    <a class="menu-item" id="messages-notification" href="{% url 'core:settings' %}">
                        <span><i class="uil uil-setting"></i></span><h3>Settings</h3>
                    </a>
                    <!--CREATE POST BUTTON-->
                    <a href="{% url 'core:create_post' %}"><button for="create-post" class="btn btn-primary">Create Post</button></a>
                </div>
            </div>
           <!--*****************************MIDDLE********************************-->
            <div class="middle">
                <!--------Story---------->
                <div class="stories">
                    <div class="story">
                        <div class="dp">
                            <img src="dp2.jpg" alt="">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story">
                        <div class="dp">
                            <img src="dp3.jpeg" alt="">
                        </div>
                        <p class="name">Nishmitha</p>
                    </div>
                    <div class="story">
                        <div class="dp">
                            <img src="dp4.png" alt="">
                        </div>
                        <p class="name">Pramada</p>
                    </div>
                    <div class="story">
                        <div class="dp">
                            <img src="dp5.jpeg" alt="">
                        </div>
                        <p class="name">Nakul</p>
                    </div>
                </div>
                <!----END OF STORY------->
                <form class="create-post">
                    <div class="dp">
                        <img src="dp2.jpg">
                    </div>
                    <input type="text" placeholder="What's on your mind, Rishika" id="create-post">
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>
                <!-------FEEDS--------->
                <div class="feeds">
                    <!--FEED !-->
                    {% for post in posts %}

                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="dp">
                                    <a href = "{% url 'core:profile' post.user %}"><img src="{{ post.user_profile.profile_img.url }}"></a>
                                </div>
                                <div class="info">
                                    <h3>{{post.user}}</h3>
                                    {% if post.post_location %}
                                    <small>{{post.post_location}}, {{post.created_at}}</small>
                                    {% else %}
                                    <small>{{post.created_at}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>
                        {% for image in post.images.all %}
                        <div class="photo" style="align-items:center">
                            <img src="{{ image.image.url }}" >
                        </div> 
                        {% endfor %}
                        <div class="action-button">
                            <div class="interaction-buttons">
                                <span><a href = "/like-post?post_id={{post.id}}" ><i class="uil-heart"></i></a></span>
                                <span><i class="uil-comment-dots"></i></i></span>
                                <span><i class="uil-share-alt"></i></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil-bookmark"></i></span>
                            </div>                         
                        </div>

                        <div class="liked-by">
                            <span><img src="dp3.jpeg"></span>
                            <span><img src="dp4.png"></span>
                            <span><img src="dp5.jpeg"></span>
                            {% if post.no_of_likes == 0 %}
                            <p>No likes</p>
                            {% elif post.no_of_likes == 1 %}
                            <p>Liked by 1 person</p>
                            {% else %}
                            <p>Liked by {{post.no_of_likes}} people </p>
                            {% endif %}

                        </div>
                        <div class="caption">
                            <p><b>{{post.user}}</b> {{post.caption}} <span class="hashtag">#{{post.tag}}</span></p>
                        </div>
                        <div class="text-muted">
                            View all 10 comments
                        </div>
                    </div>

                    {% endfor %}

                    <!--end of feed1-->

                </div>
            </div> 
            <!-------End of feed------------->
            <!-----------------------RIGHT-------------->
            <div class="right">
                <div class="messages" id="messages">
                    <div class="heading">
                        <h4>Messages</h4><i class="uil-edit"></i>
                    </div>
                    <div class="searchbar">
                        <i class="uil-search"></i>
                        <input type="search" placeholder="search messages" id="message-search">
                    </div>
                    <div class="category">
                        <h6 class="active">Primary</h6>
                        <h6>General</h6>
                        <h6 class="message-requests">Requests(5)</h6>
                    </div>
                    <!----------Message 1------------>
                    <div class="message">
                        <div class="dp">
                            <img src="dp5.jpeg">
                            <div class="active"></div>
                        </div>
                        <div class="meaasage-body">
                            <h5>Nakul Uttarkar</h5>
                            <p class="text-muted">Hai</p>
                        </div>
                    </div>
                    <!--message 2---->
                    <div class="message">
                        <div class="dp">
                            <img src="dp3.jpeg">
                        </div>
                        <div class="meaasage-body">
                            <h5>Nishmitha M</h5>
                            <p class="text-bold">2 new messages</p>
                        </div>
                    </div>
                    <!---message 3---->
                    <div class="message">
                        <div class="dp">
                            <img src="dp4.png">
                        </div>
                        <div class="meaasage-body">
                            <h5>Pramada S H</h5>
                            <p class="text-muted">Okkkk</p>
                        </div>
                    </div>
                </div>
                <!-------Friend requests------->
                <div class="requests">
                    <h4>Requests</h4>
                    <!------request 1 --------->
                    <div class="request">
                        <div class="info">
                            <div class="dp">
                                <img src="dp4.png">
                            </div>
                            <div>
                                <h5>daddyzprincess</h5>
                                <p class="text-muted">
                                    3 mutual friends
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Accept
                            </button>
                            <button class="btn">
                                Decline
                            </button>
                        </div>
                    </div>
                    <!-----request 2-------->
                    <div class="request">
                        <div class="info">
                            <div class="dp">
                                <img src="dp5.jpeg">
                            </div>
                            <div>
                                <h5>riderboy</h5>
                                <p class="text-muted">
                                    0 mutual friends
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Accept
                            </button>
                            <button class="btn">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    {% endblock %}
