{% extends "base.html" %}
{% load static %} 

{% block dp %}
<div class="dp">
    <a href="/profile/{{user.username}}">
        {% if user_profile.profile_img %}
        <img src="{{user_profile.profile_img.url}}" alt="">
        {% else %}
        <img src="{% static 'image/defaultProfileImg.jpeg' %}" alt="">
        {% endif %}
    </a>
 </div>
 {% endblock %}



{% block content %}
    <main>
        <div class="container">

            <!--*****************LEFT*****************-->
            
            <div class="left">
                <a class="profile">
                <div class="dp">
                    {% if user_profile.profile_img %}
                    <img src="{{user_profile.profile_img.url}}" alt="">
                    {% else %}
                    <img src="{% static 'image/defaultProfileImg.jpeg' %}" alt="">
                    {% endif %}
                </div>
                <div class="handle">
                    {% if user.is_authenticated %}
                    <h4>{{user.username}}</h4>
                    {% endif %}
                    <!-- <p class="text-muted"> @rsjain
                    </p> -->
                </div>
                <!--SIDEBAR-->
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item" href = "/chat">
                        <span><i class="uil uil-compass"></i></span><h3>Messages</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">3+</small></i></span><h3>Notification</h3>
                        <!----------------NOTIFICATION POPUP---------------------------->
                        <div class="notifications-popup">
                            <div>
                                <div class="dp">
                                    <img src="dp3.jpeg" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Nishmitha M</b> send you a message   
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="dp">
                                    <img src="dp4.png" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Pramada S H</b> waved at you
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="dp">
                                    <img src="dp5.jpeg" alt="">
                                </div>
                                <div class="notifications-body">
                                    <b>Nakul U D </b>accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="menu-item" id="messages-notification">
                        <span><i class="uil uil-envelope"><small class="notification-count">6</small></i></span><h3>Explore</h3>
                    </a>
                    <a class="menu-item" id="messages-notification">
                        <span><i class="uil uil-palette"></i></span><h3>Theme</h3>
                    </a>
                    <a class="menu-item" id="messages-notification" href="{% url 'core:settings' %}">
                        <span><i class="uil uil-setting"></i></span><h3>Settings</h3>
                    </a>
                    <!--CREATE POST BUTTON-->
                    <a href="{% url 'core:create_post' %}"><button for="create-post" class="btn btn-primary">Create Post</button></a>
                </div>
            </div>
           <!--*****************************MIDDLE********************************-->
            <div class="middle">
                <!--------Story---------->
                
                <!----END OF STORY------->
                
                <!-------FEEDS--------->
                <div class="feeds">
                    <!--FEED !-->
                    {% for post in posts %}

                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="dp">
                                    <a href = "{% url 'core:profile' post.user %}"><img src="{{ post.user_profile.profile_img.url }}"></a>
                                </div>
                                <div class="info">
                                    <h3>{{post.user}}</h3>
                                    {% if post.post_location %}
                                    <small>{{post.post_location}}, {{post.created_at}}</small>
                                    {% else %}
                                    <small>{{post.created_at}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>
                        {% for image in post.images.all %}
                        <div class="photo" style="align-items:center">
                            <img src="{{ image.image.url }}" >
                        </div> 
                        {% endfor %}
                        <div class="action-button">
                            <div class="interaction-buttons">
                            
                                <span>
                                    <a class="like-button{% if user_has_liked_post %} liked{% endif %}" href="#" data-post-id="{{ post.id }}">
                                        <i class="uil-heart{% if user_has_liked_post %} liked{% endif %}"></i>
                                    </a>
                                </span>
                                
                                <span><a href="#" class="view-comments" data-post-id="{{ post.id }}"><i class="uil-comment-dots"></i></a></span>
                                <span><i class="uil-share-alt"></i></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil-bookmark"></i></span>
                            </div>                         
                        </div>

                        <div class="liked-by" id="like-count-{{ post.id }}">
            
                            {% if post.no_of_likes == 0 %}
                            <p>No likes</p>
                            {% elif post.no_of_likes == 1 %}
                            <p>Liked by 1 person</p>
                            {% else %}
                            <p>Liked by {{post.no_of_likes}} people </p>
                            {% endif %}

                        </div>
                        <div class="caption">
                            <p><b>{{post.user}}</b> {{post.caption}} <span class="hashtag">#{{post.tag}}</span></p>
                        </div>
                        
                        <form method = 'post' id="add-comment" action = "/add_comment?post_id={{post.id}}">
                            {% csrf_token %}
                            <input type = "hidden" name = "post_id" value={{post.id}}>
                            <input type = "text" name = "comment" placeholder = "Add comment..." style="border-radius:20px;margin-top:3px; width:75%" >
                            <button type = "submit" style="border-radius:20px; background-color:#176B87">Submit Comment</button>
                        </form>
                        
                        {% comment %} <div class="text-muted">
                            <a href="#" class="view-comments" data-post-id="{{ post.id }}">View all 10 comments</a>
                        </div> {% endcomment %}
                        
                        <div id="popup-box" class="modal">
                            <div class="popup-content">
                                <h1 style="margin-right:10px">Comments</h1>
                                <div id="comments-container" class="comments-container">
                                    <!-- Comments will be loaded here dynamically -->
                                </div>
                                <a href="#" class="close-modal">&times;</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <!--end of feed1-->

                </div>
            </div> 
            <!-------End of feed------------->
            <!-----------------------RIGHT-------------->
            <div class="right">
                
                
                <div class="requests">
                    {% if user_groups %}
                    <h4>Groups</h4>
                    <!------request 1 --------->
                    {% for user_group in user_groups %}
                    <a href="/group_detail/{{user_group.id}}">
                        <div class="request">
                            <div class="info">
                                <div class="dp">
                                    <img src="user_group.group_image.url">
                                </div>
                                <div>
                                    <h5>{{user_group.name}}</h5>
                                    <p class="text-muted">
                                        {{user_group.travel_location}}
                                    </p>
                                </div>
                            </div>
                            <div class="action">
                                {% comment %} <button class="btn btn-primary">
                                    Accept
                                </button>
                                <button class="btn">
                                    Decline
                                </button>  {% endcomment %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <h4>Your Groups</h4>
                    <!------request 1 --------->
                    {% for group in user_created_groups %}
                    <a href="/group_detail/{{group.id}}">
                        <div class="request">
                            <div class="info">
                                <div class="dp">
                                    <img src="group.group_image.url">
                                </div>
                                <div>
                                    <h5>{{group.name}}</h5>
                                    <p class="text-muted">
                                        {{group.travel_location}}
                                    </p>
                                </div>
                            </div>
                            <div class="action">
                                
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <!-----request 2-------->
                    {% else %}
                     <div class="request">
                        <div class="info">
                            
                            <div>
                                <h5>No groups to show..</h5>
                                <p class="text-muted">
                                    You are not a member of any group. 
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            
                            
                        </div>
                    </div> 
                    {% endif %}
                </div>
                <label for="create-post" class="btn btn-primary"><a href = "{% url 'core:create_group' %}" style = "color:white">Create aGroup</a></label>
            </div>
    </main>
    

    {% endblock %}
