{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences Form</title>
    <link rel="stylesheet" href="{% static 'css/preference.css'%}">
</head>
<body>
    
    <div class="preference-container">
        <h1>Select Your Preferences</h1>
        <form method = "post" action = "{% url 'core:preference' %}">
            {% csrf_token %}
            
             <div class="preference-group">
                <label>
                    <input type="checkbox" name="preferences" value="Beaches">
                    Beaches
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Mountains">
                    Mountains
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Temples">
                    Temples
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Nature">
                    Nature
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Zoo and Aquarium">
                    Zoo and Aquarium
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Amusement Park">
                    Amusement Park
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Shopping Districts">
                    Shopping Districts
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Parks and Gardens">
                    Parks and Gardens
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Landmarks and Monuments">
                    Landmarks and Monuments
                </label>
                <label>
                    <input type="checkbox" name="preferences" value="Wine and Food Tour">
                    Wine and Food Tour
                </label>
            </div> 
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
