{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="profile">
        <div class="profile-info">
            <img src="{{user_profile.profile_img.url}}" alt="Profile Picture">
            <h1>{{user_profile.fname}} {{user_profile.lname}}</h1>
            <p>{{user_profile.user.username}}</p>
            <div class="follow-buttons">
                <form action = "/follow" method="post"> 
                    {% csrf_token %}
                    <input type = "hidden" value = "{{user.username}}" name = "follower" />
                    <input type = "hidden" value = "{{user_object.username}}" name = "user" />
                    {% if user_object.username == user.username%}
                    <a href = "/settings"><div style = "background-color:#176B87; width:80px; color:white; border-radius:3px">Edit Profile</div></a>
                    {% else %}
                    <div class="follow-btn">
                        <button type="submit">{{follow_button_text}}</button>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="follow-info">
                <a href="/follower_list?user_name={{user_object.username}}" style="margin-right: 20px; text-decoration: none; color: inherit;">
                    <span>{{user_followers}}</span> Followers
                </a>
                <p style="display: inline; margin-right: 20px;">
                    <span>{{user_following}}</span> Following
                </p>
                <p style="display: inline;">
                    <span>{{user_post_length}}</span> Posts
                </p>
            </div>
            
        </div>
        <div class="middle">
            <div class="feeds">
                <!--FEED !-->
                {% for post in user_posts %}
                <div class="feed">
                    {% for image in post.images.all %}
                    <div class="photo">
                        <img src="{{image.image.url}}">
                    </div>
                    {% endfor %}
                    <div class="action-button">
                        <div class="interaction-buttons">
                            {% comment %} <span><a href = "/like-post?post_id={{post.id}}" ><i class="uil-heart"></i></a></span> {% endcomment %}
                            <span><a class="like-button" href="#" data-post-id="{{ post.id }}"><i class="uil-heart"></i></a></span>
                            <span><i class="uil-comment-dots"></i></i></span>
                        </div>                        
                    </div>

                    <div class="liked-by" id="like-count-{{ post.id }}">
                        {% comment %} <span><img src="nish.png"></span>
                        <span><img src="pramada.jpg"></span>
                        <span><img src="nakul.png"></span> {% endcomment %}
                        {% if post.no_of_likes == 0 %}
                        <p>No likes</p>
                        {% elif post.no_of_likes == 1 %}
                        <p>Liked by 1 person</p>
                        {% else %}
                        <p>Liked by {{post.no_of_likes}} people </p>
                        {% endif %}
                    </div>
                    <div class="caption">
                        <p><b>{{user_profile.user.username}}</b> {{post.caption}}<span class="hashtag">{{post.tag}}</span></p>
                    </div>
                    
                    
                          
                </div>
                <div class="delete-post" style = "margin-bottom:60px">
                <form method="post" action="{% url 'core:delete_post' post.id %}" onsubmit="return confirm('Are you sure you want to delete this post?');" >
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">Delete Post  <i class="fa fa-trash" aria-hidden="true"></i></button>
                </form>
                </div>

                {% endfor %}
                <!--end of feed1-->
            </div>
        </div>
    </div> 
{% endblock %}
