{% extends 'base.html' %}
{% load static %}

{% block content%}

    <!-- Search results -->
    <div class="search-results">

        

        <div class="container">

            {% if group_list %}
            
            <h2>Search Results</h2>
            
            {% for group in group_list %}

            <a href="/group_detail/{{group.id}}">
                <div class="user-card">
                    <div class="profile-image">
                        {% if group.profile_img.url %}
                        <img src="{{group.profile_img.url}}" alt="static 'image/defaultProfileImg.jpeg'" >
                        {% else %}
                        <img src = "static 'image/defaultProfileImg.jpeg'">
                        {% endif %}
                    </div>
                    <div class="user-details">
                        <h3>{{group.name}}</h3>
                        <p></p>
                        <p></p>
                        <p>Created by: {{group.creator}}</p>
                        <p>{{group.travel_location}}</p>
                    </div>
                </div>
            </a>

            {% endfor %}

            <!-- Repeat user-card div for each search result -->
            {% else %}

                <h2>No User found...</h2>
            
            {% endif %}
        </div>

        
        
    </div>
    <!-- End of Search Results -->

{% endblock %}