{% extends 'base.html' %}
{% load static %}

{% block content%}

    <!-- Search results -->
    <div class="search-results">

        

        <div class="container">

            {% if username_profile_list %}
            
            <h2>Search Results</h2>

            {% for user in username_profile_list %}

            <a href="/profile/{{user.user.username}}">
                <div class="user-card">
                    <div class="profile-image">
                        <img src="{{user.profile_img.url}}" alt="User Profile Image">
                    </div>
                    <div class="user-details">
                        <h3>{{user.user.username}}</h3>
                        <p>{{user.fname}} {{user.lname}}</p>
                        <p></p>
                        <p>{{user.bio}}</p>
                        <p>{{user.location}}</p>
                    </div>
                </div>
            </a>

            {% endfor %}

            <!-- Repeat user-card div for each search result -->
            {% else %}

                <h2>No User found...</h2>
            
            {% endif %}
        </div>

        
        
    </div>
    <!-- End of Search Results -->

{% endblock %}