{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginPage.css' %}">
</head>
<body>

    <div id="welcomeContainer">
        <h2 style="color: #bbe4e9;">Sign Up</h2>

        <div>
          <style media="screen">
            h4{
              color: red;
            }
          </style>

          {% for message in messages %}
          <h4>{{message}}</h4>
          {% endfor %}

        </div>

        <form id="signupForm" class="form" action = "" method="POST">
          {% csrf_token %}
            <label for="signupUsername">Username:</label>
            <input type="text" id="signupUsername" name="username" required>

            <label for="signupEmail">Email:</label>
            <input type="email" id="signupEmail" name="email" required>

            <label for="signupPassword">Password:</label>
            <input type="password" id="signupPassword" name="password" required>

            <label for="signupConfPassword">Confirm Password:</label>
            <input type="password" id="signupPassword" name="password2" required>

            <button type="submit">Sign Up</button>
        </form>

        <p style="color:#bbe4e9;">Already have an account? <a href="signin.html">Sign In</a></p>
    </div>

    <!-- <script src="scripts.js"></script> -->
</body>
</html>
