@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.search-results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.users, .groups {
    flex: 1;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}

.users {
    margin-right: 20px;
    border: 2px solid black;
    background-color: white;
}

.users .user-header, .groups .user-header{
    
    background-color: #6dc6e3;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px 10px 10px 10px;
    color:black;
}

.user-card, .group-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: #646c76; */
    border:2px solid #646c76;
    border-radius: 50px;
}

.profile-image, .group-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    /* padding: 10px 10x 10px 10px; */
}

.profile-image img, .group-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details, .group-details {
    flex: 1;
}

.user-details h3, .group-details h3 {
    margin: 0;
    font-size: 20px;
}

.user-details p, .group-details p {
    margin: 5px 0;
    color: #666;
}

@media screen and (max-width: 768px) {
    .search-results {
        flex-direction: column;
    }
    
    .users, .groups {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
